{{#with controllers.photo.content}}
  <form class="form-horizontal">
    <fieldset>
      <legend>Edit photo</legend>
      {{partial 'photo/form'}}
    </fieldset>
  </form>
{{/with}}
  <div class="btn-group">
    <button class="btn btn-large btn-primary" {{action 'update' controllers.photo.content}}>Update</button>
    <button class="btn btn-large btn-danger" {{action 'cancel' controllers.photo.content}}>Cancel</button>
  </div>