<form class="form-horizontal" role="form">
  <fieldset>
  <legend>New photo</legend>
  {{partial 'photo/form'}}
  </fieldset>
</form>
<div class="btn-group">
  <button class="btn btn-large btn-primary" {{action 'create' this}}>Create</button>
  <button class="btn btn-large btn-danger" {{action 'cancel' this}}>Cancel</button>
</div>