<div class="container">
  <div class="row preview">
    <div class="col-md-4">
      <img {{bindAttr src=image}} class="thumbnail pull-right" />
    </div>
    <div class="col-md-8">
      <h2>{{title}}</h2>
      <p>{{description}}</p>  
    </div>
  </div>
  <div class="row">
    {{outlet}}
  </div>
</div>